app_port: 3000
db:
  type: mysql
  host: localhost
  port: 3306
  db_name: blog
  username: root
  password: password
redis:
  host: localhost
  port: 6379
site:
  title: Blog with Axum
  subtitle: ""
  description: ""
  admin:
    name: admin
    password: password